
@model List<string>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hjemmeside</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/innlogget_bootstrap.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        // Metode som oppdaterer tabell med korrekt info
        function printUtskrift()
        {
            $("#kontoInformasjon").load("/Kunde/hentKontoInformasjon", { kontonavn: $("#kontoDropdown").val(), personnr: @ViewBag.personnr });
            $("#kontoUtskrift").load("/Kunde/hentKontoUtskrift", { kontonavn: $("#kontoDropdown").val(), personnr: @ViewBag.personnr });
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Content/images/nettbanken.png" width="200px">
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h2>Konto oversikt</h2>
            <!--<h3>Velg konto:</h3>-->

            <div class="container">

                <div class="row">
                    <div class="row">
                        <select id="kontoDropdown" onchange="printUtskrift()">
                            <option disbaled selected hidden>---Konto utskrift---</option>
                            @foreach (var konto in Model)
                            {
                                <option>@konto</option>
                            }
                        </select>
                    </div>
                </div>
                <br/>

                <div class="container">
                    <p>
                        <!--<input type="button" class="btn btn-primary" value="Utskrift" onclick="printUtskrift()"/>-->
                        <input type="button" class="btn btn-primary" value="Transaksjoner" onclick="location.href='@Url.Action("transaksjonView","Kunde")'"/>
                    </p>
                    <p>
                        <input type="button" class="btn btn-primary" value="Logg ut" onclick="location.href='@Url.Action("loggUt","Kunde")'" />
                    </p>
                </div>

                <div id="kontoInformasjon">
                    <!--Her kommer konto informasjon-->
                </div>
                <br/>
                <div id="kontoUtskrift">
                    <!--Her kommer utskriftstabellen-->
                </div>

            </div>
        </div>
    </div>

    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © Nettbanken. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>