@model Nettbanken.Models.Kunde

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kunde Register</title>
    <link href="~/Content/logginn_register.css" rel="stylesheet" type="text/css">
</head>

    <body>
        <!--BeginForm har parameterene (metodenavn, kontrollernavn, postmethod)-->
        @using (Html.BeginForm("kundeRegistreringView", "Kunde", FormMethod.Post))
        {
            //@Html.AntiForgeryToken()
            //@Html.ValidationSummary(true)

            <div class="row">
                <div class="header">
                    <div class="header-container">
                        <img src="~/Content/images/nettbanken.png" class="logo">
                    </div>

                    <div class="logginn-container">

                        <fieldset>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.personNr)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.personNr)
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.passord)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.passord)
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.fornavn)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.fornavn)
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.etternavn)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.etternavn)
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.adresse)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.adresse)
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.telefonNr)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.telefonNr)
                            </div>
                            <!--Spesial tilfelle her. Vi trenger kun å kalle på Poststed klassen
                                for å få både label og editor field for postnr og poststed-->
                            <div class="editor-field">
                                @Html.EditorFor(model => model.poststed)
                            </div>

                            <br />
                            <div>
                                <input type="submit" value="Registrer" />
                            </div>
                        </fieldset>

                    </div>
                    <div class="footer-container">
                        <div>
                            @Html.ActionLink("Tilbake til forside", "forsideView")
                        </div>
                    </div>
                </div>
            </div>
        }
    </body>

</html>