
@model Nettbanken.Models.Kunde

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Kunde Logginn</title>
        <link href="~/Content/logginn_register.css" rel="stylesheet" type="text/css">


    </head>

    <body>
        @using (Html.BeginForm("kundeLogginnView", "Kunde", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    <div class="header">
                        <div class="header-container">
                            <img src="~/Content/images/nettbanken.png" class="logo">
                        </div>

                        <div class="logginn-container">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.bankId)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.bankId)
                                @Html.ValidationMessageFor(model => model.bankId, "", new { @class = "text-danger" })
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.personNr)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.personNr)
                                @Html.ValidationMessageFor(model => model.personNr, "", new { @class = "text-danger" })
                            </div>
                            <div class="editor-lable">
                                @Html.LabelFor(model => model.passord)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.passord)
                                @Html.ValidationMessageFor(model => model.passord, "", new { @class = "text-danger" })
                            </div>
                            <br/>
                            <div>
                                <input type="submit" value="Logg inn" />
                            </div>
                            <span>Per Bakke har 3 kontoer og Ola Hansen 2</span><p>Per:</p>
                            <p>BankID = 1<br />PersNr = 11189211<br />Pass = asdfasdf<br /></p>
                            <p></p>
                            <p>Sjekk tabell for andre brukere.</p>

                         </div>

                            <div class="footer-container">
                                <div>
                                    @Html.ActionLink("Tilbake til forside", "forsideView")
                                </div>
                            </div>
                        </div>
                    </div>
             </fieldset>
        }
    </body>

</html>
