@model Nettbanken.Models.Transaksjon
   
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Transaksjoner</title>
        <script src="~/scripts/jquery-3.1.1.js"></script>
        <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
        <link href="~/Content/Transaksjon_bootstrap1.css" rel="stylesheet" type="text/css">

        <script type="text/javascript">
            $(document).ready(function () {
                $("#datoui").datepicker({ dateFormat: 'dd/mm/yy' });
            });
            function settKonto()
            {
                $("#settKonto").click($("#konto").val($("#kontoDropdown").val()));
            }
            function leggtilTemp()
            {
                //Henter data fra feltene og blanker dem ut
                var fraKonto = $("#konto").val();
                var tilKonto =  $("#tilKonto").val(); 
                var saldoUt = $("#saldoUt").val(); 
                var KID = $("#KID").val(); 
                var dato = $("#dato").val(); 
                var melding = $("#melding").val(); 
               
                var manglendeFelt = [];
                if(!fraKonto.match(/\b\d{5}\b/g)){
                    manglendeFelt.push("Fra konto");
                }  if(!tilKonto.match(/\b\d{5}\b/g)){ 
                    manglendeFelt.push("Til konto");
                } if(saldoUt ==""){
                    manglendeFelt.push("Saldo ut");
                }  if(!dato.match(/(^((((0[1-9])|([1-2][0-9])|(3[0-1]))|([1-9]))\x2F(((0[1-9])|(1[0-2]))|([1-9]))\x2F(([0-9]{2})|(((19)|([2]([0]{1})))([0-9]{2}))))$)/)){   
                    manglendeFelt.push("Dato");
                } 
                if(manglendeFelt.length==0){
                    var info = [fraKonto,tilKonto,saldoUt,KID,dato,melding];
                    $("#tempTabell").load("/Kunde/tempTransaksjon", {infoliste: info})
                    $("#tilKonto").val("");
                    $("#saldoUt").val("");
                    $("#KID").val("");
                    $("#dato").val("");
                    $("#melding").val("");
                }else{
                    alert('Vennligst kontroller om følgende felt(ene) er riktig fylt inn!\n\n '+manglendeFelt.toString()+'\n\n ________________________________________');
                }
                
            }
            function knapper(id,indeks)
            {
                switch(id) 
                {
                    case "betal":
                        $("#tilKonto").val("");
                        $("#saldoUt").val("");
                        $("#KID").val("");
                        $("#dato").val("");
                        $("#melding").val("");
                        $("#tempTabell").load("/Kunde/betal"); 
                        break;
                    case "endre":
                        var fraKonto = $("#konto").val();
                        var tilKonto = $("#tilKonto").val(); 
                        $("#tilKonto").val("");
                        var saldoUt = $("#saldoUt").val(); 
                        $("#saldoUt").val("");
                        var KID = $("#KID").val(); 
                        $("#KID").val("");
                        var dato = $("#dato").val(); 
                        $("#dato").val("");
                        var melding = $("#melding").val(); 
                        $("#melding").val("");

                        var manglendeFelt = [];
                        if(fraKonto==""){
                            manglendeFelt.push("Fra konto");
                        }  if(tilKonto==""){
                            manglendeFelt.push("Til konto");
                        } if(saldoUt==""){
                            manglendeFelt.push("Saldo ut");
                        }  if(dato==""){
                            manglendeFelt.push("Dato");
                        } 
                        if(manglendeFelt.length==0){
                        var info = [fraKonto,tilKonto,saldoUt,KID,dato,melding];
                        $("#tempTabell").load("/Kunde/endre", { betalingNr: indeks, info: info });
                        alert('Transaksjon nr '+indeks+' ble endret!');
                        }else{
                            alert('Transaksjon ble ikke endret! vennligst fyll inn i feltene for å endre transaksjon nr '+indeks+' !\n\n '+manglendeFelt.toString()+'\n\n Mangler');
                            break;
                        }
                        break;
                    case "slett":
                        $("#tilKonto").val("");
                        $("#saldoUt").val("");
                        $("#KID").val("");
                        $("#dato").val("");
                        $("#melding").val("");
                        $("#tempTabell").load("/Kunde/slett", { betalingNr: indeks });
                        break;
                    default:
                }
            }
        </script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="~/Content/images/nettbanken.png" width="200px">
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Betalingesdetalijer:</strong></h3>
                </div>
                <label style="margin-left:1%;"><b>Velg konto:</b></label>
                <select class="valg" id="kontoDropdown" onchange="settKonto();" style="border-color:black;">
                    <option disbaled defaultSelected hidden>---Sett konto---</option>
                    @foreach (var konto in ViewBag.kontoer)
                    {
                        <option>@konto</option>
                    }
                </select>

                @using (Html.BeginForm("", "", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()

                    <fieldset class="form-inline">
                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!--skal ikke fylles av bruker---------------------->
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.fraKonto):</b>
                            </span>
                            <span class="form-control">
                                @Html.TextBoxFor(model => model.fraKonto,
                                    new { id = "konto", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.fraKonto, "", new { @class = "text-danger" })
                            </span>
                            <!------------------------------------------------------->
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.tilKonto):</b>
                            </span>
                            <span class="form-control2">
                                @Html.EditorFor(model => model.tilKonto, new { id = "tilKonto" })
                                @Html.ValidationMessageFor(model => model.tilKonto, "", new { @class = "text-danger" })
                            </span>
                            <hr>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.saldoUt):</b>
                            </span>
                            <span class="form-control3">
                                @Html.EditorFor(model => model.saldoUt, new { id = "saldoUt" })
                                @Html.ValidationMessageFor(model => model.saldoUt, "", new { @class = "text-danger" })
                            </span>
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.KID):</b>
                            </span>
                            <span class="form-control4">
                                @Html.EditorFor(model => model.KID, new { id = "KID" })
                                @Html.ValidationMessageFor(model => model.KID, "", new { @class = "text-danger" })
                            </span>
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.dato):</b>
                            </span>
                            <span class="form-control5">                          
                               @Html.EditorFor(model => model.dato, new { id = "datoui" })
                               @Html.ValidationMessageFor(model => model.dato, "", new { @class = "text-danger" })                                
                            </span>
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.melding):</b>
                            </span>
                            <span class="form-control6">
                                @Html.EditorFor(model => model.melding, new { id = "melding" })
                            </span>
                            <br>
                            <br>
                        </div>
                        <!---->
                        <div class="panel-footer1">
                            <p class="col-lg-2 col-lg-offset-4"><input type="button" class="btn btn-primary btn-lg" value="Tilbake" onclick="location.href='@Url.Action("hjemmesideView","Kunde")'" /></p>
                            <p class="col-lg-2 col-lg-offset-4"><input type="button" class="btn btn-primary btn-lg" id="leggTil" value="Legg til" onclick="leggtilTemp()" /></p>
                            <p class="col-lg-2 col-lg-offset-4"><input type="button" class="btn btn-primary btn-lg" id="betal" value="Betal" onclick="knapper('betal')" /></p>
                        </div>
                    </fieldset>
                }
            </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Betalinger:</strong></h3>
                </div>
                <div id="tempTabell" class="panel-body">
                    <!--tempTabell-->
                    <p><b>Betalinger legges til her!</b></p>
                </div>

            </div>
        
    </body>
</html>