@model Nettbanken.Models.Transaksjon
   
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Transaksjoner</title>
        <script src="~/scripts/jquery-3.1.1.js"></script>
        <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
        <link href="~/Content/Transaksjon_bootstrap1.css" rel="stylesheet" type="text/css">

        <script type="text/javascript">
            $(document).ready(function () {
                $("#datoui").datepicker({ dateFormat: 'dd/mm/yy' });
            });
            function settKonto()
            {
                $("#settKonto").click( $("#konto").val($("#kontoDropdown").val()) );
            }
            function leggtilTemp()
            {
                // Henter data fra feltene og blanker dem ut
                var fraKonto = $("#konto").val();
                var tilKonto = $("#tilKonto").val(); 
                $("#tilKonto").val("");
                var saldoUt = $("#saldoUt").val(); 
                $("#saldoUt").val("");
                var KID = $("#KID").val(); 
                $("#KID").val("");
                var dato = $("#dato").val(); 
                $("#dato").val("");
                var melding = $("#melding").val(); 
                $("#melding").val("");

                var info = [fraKonto,tilKonto,saldoUt,KID,dato,melding];
                $("#tempTabell").load("/Kunde/tempTransaksjon", {infoliste: info})
            }
            function knapper(id)
            {
                switch(id) 
                {
                    case "betal":
                        $("#endreB").val("");
                        $("#slettB").val("");
                        $("#tilKonto").val("");
                        $("#saldoUt").val("");
                        $("#KID").val("");
                        $("#dato").val("");
                        $("#melding").val("");
                        $("#tempTabell").load("/Kunde/betal"); 
                        break;
                    case "endre":
                        var endre = $("#endreB").val();
                        $("#endreB").val("");
                        $("#slettB").val("");
                        var fraKonto = $("#konto").val();
                        var tilKonto = $("#tilKonto").val(); 
                        $("#tilKonto").val("");
                        var saldoUt = $("#saldoUt").val(); 
                        $("#saldoUt").val("");
                        var KID = $("#KID").val(); 
                        $("#KID").val("");
                        var dato = $("#dato").val(); 
                        $("#dato").val("");
                        var melding = $("#melding").val(); 
                        $("#melding").val("");

                        var info = [fraKonto,tilKonto,saldoUt,KID,dato,melding];
                        $("#tempTabell").load("/Kunde/endre",{betalingNr: endre,info: info}); 
                        break;
                    case "slett":
                        var slett = $("#slettB").val();
                        $("#endreB").val("");
                        $("#slettB").val("");
                        $("#tilKonto").val("");
                        $("#saldoUt").val("");
                        $("#KID").val("");
                        $("#dato").val("");
                        $("#melding").val("");
                        $("#tempTabell").load("/Kunde/slett",{betalingNr: slett}); 
                        break;
                    default:
                }
            }
        </script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="~/Content/images/nettbanken.png" width="200px">
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Betalingesdetalijer:</strong></h3>
                </div>
                <label style="margin-left:1%;"><b>Velg konto:</b></label>
                <select class="valg" id="kontoDropdown" onchange="settKonto();">
                    <option disbaled defaultSelected hidden>---Sett konto---</option>
                    @foreach (var konto in ViewBag.kontoer)
                    {
                        <option>@konto</option>
                    }
                </select>

                @using (Html.BeginForm("", "", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()

                    <fieldset class="form-inline">
                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!--skal ikke fylles av bruker---------------------->
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.fraKonto):</b>
                            </span>
                            <span class="editor-field">
                                @Html.TextBoxFor(model => model.fraKonto,
                                    new { id = "konto", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.fraKonto, "", new { @class = "text-danger" })
                            </span>
                            <!------------------------------------------------------->
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.tilKonto):</b>
                            </span>
                            <span class="editor-field">
                                @Html.EditorFor(model => model.tilKonto, new { id = "tilKonto" })
                                @Html.ValidationMessageFor(model => model.tilKonto, "", new { @class = "text-danger" })
                            </span>
                            <hr>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.saldoUt):</b>
                            </span>
                            <span class="editor-field">
                                @Html.EditorFor(model => model.saldoUt, new { id = "saldoUt" })
                                @Html.ValidationMessageFor(model => model.saldoUt, "", new { @class = "text-danger" })
                            </span>
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.KID):</b>
                            </span>
                            <span class="editor-field">
                                @Html.EditorFor(model => model.KID, new { id = "KID" })
                                @Html.ValidationMessageFor(model => model.KID, "", new { @class = "text-danger" })
                            </span>
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.dato):</b>
                            </span>
                            <span class="editor-field">                          
                               @Html.EditorFor(model => model.dato, new { id = "datoui" })
                               @Html.ValidationMessageFor(model => model.dato, "", new { @class = "text-danger" })                                
                            </span>
                            <br>
                            <br>
                            <span class="editor-lable">
                                <b>@Html.LabelFor(model => model.melding):</b>
                            </span>
                            <span class="editor-field">
                                @Html.EditorFor(model => model.melding, new { id = "melding" })
                            </span>
                            <br>
                            <br>
                        </div>
                        <!---->
                        <div class="panel-footer1">
                            <p class="col-lg-2 col-lg-offset-4">

                                <input type="button" class="btn btn-primary btn-lg" value="Tilbake" onclick="location.href='@Url.Action("hjemmesideView","Kunde")'" />
                            </p>
                            <p class="col-lg-2 col-lg-offset-4">
                                <input type="button" id="leggTil" value="Legg til" class="btn btn-primary btn-lg" onclick="leggtilTemp()" />
                            </p>
                        </div>
                    </fieldset>
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Betalinger:</strong></h3>
                </div>
                <div id="tempTabell" class="panel-body">
                    <!--tempTabell-->
                    <p><b>Betalinger legges til her!</b></p>
                </div>
                <div class="panel-footer">

                    <p class="col-lg-2 col-lg-offset-1"><a class="btn btn-primary btn-lg"  id="slett" onclick="knapper('slett')" role="button">Slett</a>
                    <label for="slettB">Slett Betaling NR:</label><input id="slettB" type="text" ></p>

                    <p class="col-lg-2 col-lg-offset-2"><a class="btn btn-primary btn-lg"  id="endre" onclick="knapper('endre')" role="button">Endre</a>
                    <label for="endreB">Endre Betaling NR:</label><input id="endreB" type="text" ></p>

                    <p class="col-lg-2 col-lg-offset-3"><a class="btn btn-primary btn-lg"  id="betal" onclick="knapper('betal')" role="button">Betal</a></p> 
                </div>
            </div>
        
    </body>
</html>